<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body},'vets')}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of Vets</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="guru.framework.spring5recipeapp.domain.Recipe"*/-->
<h2>Recipes</h2>

<table class="table table-striped" id="vets">
    <thead>
    <tr>
        <th style="width: 150px;">description</th>
        <th style="width: 150px;">prepTime</th>
        <th style="width: 150px;">cookTime</th>
        <th style="width: 150px;">servings</th>
        <th style="width: 150px;">source</th>
        <th style="width: 150px;">url</th>
        <th style="width: 150px;">directions</th>
        <th style="width: 150px;">difficulty</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.description}">1</td>
        <td th:text="${recipe.prepTime}">1</td>
        <td th:text="${recipe.cookTime}">1</td>
        <td th:text="${recipe.servings}">1</td>
        <td th:text="${recipe.source}">1</td>
        <td th:text="${recipe.url}">1</td>
        <td th:text="${recipe.directions}">1</td>
        <td th:text="${recipe.difficulty}">1</td>
    </tr>
    </tbody>
</table>
</body>
</html>